<html lang="en" ng-app="planning">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Customize CSS -->
<link href="../css/mystyle.css" rel="stylesheet" type="text/css"/>

<!-- Javascript -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<!-- dirPagination -->
<script type="text/javascript" src="../js/dirPagination.js"></script>

<!-- Controller -->
<script type="text/javascript" src="controller/PlanDetailController.js"></script>

</head>
<title>Planning Management System</title>
<body ng-controller="PlanDetailController">

	<div>
		<header class="wrapper">
            <div class="center2"><h1 style="color: red; font-weight: bold">PLANNING MANAGEMENT SYSTEM</h1></div>
        </header>
		<nav>
            <div class="center2 wrapper">
            	<a class="nav-item" href="index.html" title="Main">Home</a>
                <a class="nav-item" href="goal_mngt.html" title="Goal Management">Goal Management</a>
                <a class="nav-item" href="project_mngt.html" title="Project Management">Project Management</a>
                <a class="nav-item current" href="plan_mngt.html" title="Plan Management">Plan Management</a>
                <a class="nav-item" href="plan_version.html" title="Plan Version">Plan Version</a>
                <a class="nav-item" href="state_mngt.html" title="State Management">State Management</a>
                <a class="nav-item" href="plan_item.html" title="Plan Item">Plan Item</a>
            </div>
        </nav>
	</div>
    <div class="container my_container">
        <div class="col-md-12" style="text-align: center;">
            <h3>Constraint rules of '{{plan_name}}'</h3>
        </div>
		<div class="container responsive col-md-12">
			<div class="col-md-12" style="margin-top: 5px">
                <div class="col-md-12 no-paddingright" style="text-align: right; padding-bottom: 5px;">
				    <button class="btn btn-default" type="button" ng-click="addNewConstraint()">
					  <img src="../images/add.png"> New constraint</span>
                    </button>
				</div>
			</div>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="col-md-1" style="width: 10px">#</th>
                        <th class="col-md-12">Constraint rule</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="ruleList.length <= 0">
						<td colspan="2" style="text-align: center;">{{loading}}</td>
					</tr>
					<tr dir-paginate="d in ruleList|itemsPerPage:itemsPerPage"
						total-items="total_count">
						<td>{{d.index}}</td>
                        <td>{{d.constraint_rule}}</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center">
				<dir-pagination-controls max-size="itemsPerPage" direction-links="true"
					boundary-links="true" on-page-change="doSearchRule(newPageNumber)">
				</dir-pagination-controls>
			</div>
		</div>
	</div>
	<div class="container my_container">
        <div class="col-md-12" style="text-align: center;">
            <h3>Plan detail of '{{plan_name}}'</h3>
        </div>
		<div class="container responsive col-md-12">
			<div class="col-md-12" style="margin-top: 5px">
				<div class="col-md-6 no-paddingleft" style="text-align: left; padding-top: 10px">
					Total: <label class="text-primary">{{total_count}}</label> items
				</div>
                <div class="col-md-6 no-paddingright" style="text-align: right; padding-bottom: 5px;">
				    <button class="btn btn-default" type="button" ng-click="addNew()">
					  <img src="../images/add.png"> New Plan detail</span>
                    </button>
				</div>
			</div>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="col-md-1" style="width: 10px">#</th>
                        <th class="col-md-4">Plan item</th>
                        <th class="col-md-2">Plan value</th>
                        <th class="col-md-2">Actual value</th>
						<th class="col-md-1">User assigned</th>
						<th class="col-md-1">Date start</th>
						<th class="col-md-1">Date end</th>
                        <th class="col-md-1">Version</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="detailList.length <= 0">
						<td colspan="8" style="text-align: center;">{{loading}}</td>
					</tr>
					<tr dir-paginate="d in detailList|itemsPerPage:itemsPerPage"
						total-items="total_count">
						<td>{{d.index}}</td>
                        <td>{{d.item_name}}</td>
                        <td>{{d.item_value}} {{d.item_unit}}</td>
                        <td>{{d.actual_value}} {{d.item_unit}}</td>
                        <td>{{d.user_assigned_name}}</td>
						<td>{{d.date_start | date: 'yyyy/MM/dd'}}</td>
						<td>{{d.date_end | date: 'yyyy/MM/dd'}}</td>
                        <td>{{d.cur_version}}</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center">
				<dir-pagination-controls max-size="itemsPerPage" direction-links="true"
					boundary-links="true" on-page-change="doSearch(newPageNumber)">
				</dir-pagination-controls>
			</div>
		</div>
	</div>
    <footer>
         <div class="wrapper center2" style="height: 40px">
             
         </div>
     </footer>
</body>
</html>
